/*
Royal Purple:	#441151 68,17,81
Lavendar:		#D7B8F3 215,184,243
Navy:			#212D40 33,45,64
Ivory:			#ECEBE4 236,235,228
Forest Green:	#0A3200 10,50,0
*/

body {
	margin: 0px;
	background-color: #0A3200;
}
#backmain {
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0px;
	box-sizing: border-box;
	border-style: solid;
	border-top-width: 2%;
	border-left-width: 2%;
	border-right-width: 2%;
	border-bottom-width: 0%;
	border-color: white;
	width: 100%;
	height: 80%;
	background-color: black;
}
#backslide {
	position: fixed;
	left: 0%;
	top: 80%;
	margin: 0px;
	box-sizing: border-box;
	border-style: solid;
	border-top-width: 1%;
	border-right-width: 2%;
	border-bottom-width: 2%;
	border-left-width: 2%;
	border-color: white;
	border-top-color: gray;
	width: 100%;
	height: 20%;
	transition: height 0.5s;
	-webkit-transition: height 0.5s;
}

#backslide:hover {
	height: 0%;
}
